albumentations==1.3.0
easydict==1.10
glob2
hydra-core==1.3.2
image==1.5.33
imagecodecs 
imageio 
imagesize 
matplotlib
matplotlib-inline
numba 
numexpr 
numpy
numpydoc
onnx==1.13.0
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.72
pandas==1.4.4
Pillow==9.2.0
pypi==2.1
PyQt5==5.15.7
scikit-image 
scikit-learn
sklearn==0.0.post2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorrt==8.5.3.1
termcolor==2.2.0
torch==2.0.0
torchaudio==2.0.0.dev20230222+cu117
torchmetrics==0.11.4
torchvision==0.15.1
tqdm
